<%- include('partials/header'); -%>
<h1><%= homeTitle %></h1>
<p><%= homeStartingContent %></p>
<% posts.forEach(function(post){ %>

<div class="container">
	<h1><%= post.title %> - <%= post.date %></h1>
	<p>
		<%= post.summary %>...
		<a href="/posts/<%= post.title %>" class="btn btn-info btn-info"
			>Read more</a
		>
	</p>
</div>
<% }); %> <%- include('partials/footer'); -%>
